.trigger-scrollTop {
  position: fixed;
  bottom: ($gutter-base * 2);
  right: ($gutter-base / 2);
  z-index: $zindex-menu;
  padding: ($gutter-base / 2) ($gutter-base / 4);
  color: $text-color-primary;
  border: ($border-width-base * 2) solid $text-color-primary;
  background-color: $background-color-secondary;
  transition: background-color .3s ease-out;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  display: none;

  &.state-active {
    @include fadeIn(.3s);
    display: block;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $primary-hover-color;
  }

  span {
    display: block;
    font-size: ($gutter-base / 3.75);
    letter-spacing: 0.03125rem;

    &:not(:first-child) { margin-top: ($gutter-base / 6); }
  }

  i {
    font-size: 2em;
  }
}